.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	top: 50%;
	background-color:#25d365;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  transform: translateY(-50%);
}
.float:hover {
	text-decoration: none;
	color: #FFF;
  background-color:#1ab152;
    
    animation: shake 1s;

 
  animation-iteration-count: infinite;
}

.my-float{
	margin-top:16px;
}
.pulse {
	animation: pulse-animation 1.5s infinite;
}

@keyframes pulse-animation {
	0% {
	 box-shadow: 0 0 0 0px rgba(16, 87, 16, 0.568)ba(0, 0, 0, 1);
	}
	100% {
		box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
	  }
  }
  

